h2{
  margin-bottom: 0 !important;
}

.App-header {
  background-color: #fff;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  padding: 8px 0;
}

.App-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}

.App-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  user-select: none;
}

.App-buttons > img{
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Kappazon_Welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  background-color: #fafafa;
}

.Kappazon_Welcome > img {
  width: 80%;
}